@use "../../scss/breakpoints";
@use "../../scss/mixins/brand-text";
@use "../../scss/mixins/flexbox";
@use "../../scss/mixins/list-reset";
@use "../../scss/mixins/text-styles";

.contacts {
  $block-name: &; // #{$block-name}__element

  &__inner {
    display: grid;
    gap: 24px;

    @media screen and (min-width: breakpoints.$screen-ti) {
      gap: 40px;
    }
  }

  &__grid {
    display: grid;
    gap: 24px;

    @media screen and (min-width: breakpoints.$screen-ti) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: breakpoints.$screen-d) {
      gap: 100px;
    }
  }

  &__row {
    display: grid;
    gap: 16px;

    @media screen and (min-width: breakpoints.$screen-ti) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }

    @media screen and (min-width: breakpoints.$screen-d) {
      grid-template-columns: 1fr 1fr 2fr;
      gap: 110px;
    }
  }

  &__item {
    @include flexbox.flex-column;

    gap: 8px;
  }

  &__label {
    @include text-styles.mobile-text-1;

    color: var(--front-secondary);

    @media screen and (min-width: breakpoints.$screen-d) {
      @include text-styles.text-big
    }
  }

  &__descr {
    @include text-styles.mobile-text-1;

    @media screen and (min-width: breakpoints.$screen-d) {
      @include text-styles.text-big
    }
  }

  &__link {
    @include brand-text.brand-text;
    @include text-styles.mobile-heading-2;

    transition: scale var(--transition-default);

    @media screen and (min-width: breakpoints.$screen-d) {
      @include text-styles.heading-3;
    }

    @media (hover: hover) {
      &:hover {
        scale: 1.0125;
      }

      &:active {
        scale: 0.9975;
      }
    }
  }

  & { // stylelint-disable-line
    .form__submit { // stylelint-disable-line
      width: 100%;
      max-width: none;

      @media screen and (min-width: breakpoints.$screen-d) {
        width: 254px;
      }
    }

    .form__small { // stylelint-disable-line
      max-width: 480px;
    }
  }

  &__list {
    @include list-reset.list-reset;

    display: grid;
    gap: 36px;
    padding: 12px;
    overflow: hidden;
    background: #f8f8f8;
    border-radius: 18px;
    counter-reset: cList;

    @media screen and (min-width: breakpoints.$screen-t) {
      align-content: center;
      height: 100%;
      padding: 24px;
    }

    @media screen and (min-width: breakpoints.$screen-d) {
      padding: 34px 80px;
    }
  }

  &__li {
    position: relative;
    padding-left: 58px;
    counter-increment: cList;

    @media screen and (min-width: breakpoints.$screen-d) {
      padding-left: 64px;
    }

    & + &::before {
      position: absolute;
      top: -18px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e9e9e9;
      content: "";
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.625;
      border: 1px solid #bdbdbd;
      border-radius: 50%;
      content: counter(cList);

      @media screen and (min-width: breakpoints.$screen-d) {
        @include text-styles.mobile-heading-2;

        width: 47px;
        height: 47px;
      }
    }
  }

  &__list-title {
    @include text-styles.mobile-heading-2;
    @include brand-text.brand-text;

    margin: 0 0 8px;

    @media screen and (min-width: breakpoints.$screen-d) {
    	@include text-styles.heading-3;
    }
  }

  &__list-descr {
    @include text-styles.mobile-text-1;

    margin: 0;
  }
}
